.social {
  padding: 20px 0;
}

.social .socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social .socialContainer a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Bigilla";
  font-size: 64px;
}

@media (max-width: 1200px) {
  .social .socialContainer a {
    font-size: 50px;
  }
}

@media (max-width: 827px) {
  .social .socialContainer a {
    font-size: 40px;
  }
}
@media (max-width: 643px) {
  .social .socialContainer a {
    font-size: 30px;
  }
}

@media (max-width: 475px) {
  .social .socialContainer a {
    font-size: 24px;
  }
}
@media (max-width: 381px) {
  .social .socialContainer a {
    font-size: 19px;
  }
}
